html, body {
    display: block;
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url("images/kde6.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main {
    background-color: #ffffff;
    border-radius: 20px;
}
#av {
    
    height: 14px;
}
.flex {
    display: flex;
}